# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.ipynb_checkpoints/
.pytest_cache/

# LaTeX (auxiliares de compilação)
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Sistema
.DS_Store
*.swp
